$main_bg: #393a59;
$window_bg: #c4c4c4;
$header_bg: #020086;
$screen_bg: #000000;
$color_primary: #999999;
$color_secondary: #ffffff;
$color_accent: #00ca00;
$border_color_out: $color_secondary $color_primary $color_primary $color_secondary;
$border_color_in: $color_primary $color_secondary $color_secondary $color_primary;